<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/adminViews.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li><a href="/admin/dashboard">Home</a></li>
            <li><a href="/admin/clientes">Clientes</a></li>
            <li><a href="/admin/delivery">Deliveries</a></li>
            <li><a href="/admin/comercios">Comercios</a></li>
            <li><a href="/admin/configuracion">Configuración</a></li>
            <li><a href="/admin/administradores">Administradores</a></li>
            <li><a href="/admin/tipos_comercios">Tipos de Comercios</a></li>
            <li><a href="/auth/logout">Cerrar Sesión</a></li>
        </ul>
    </nav>
    <h1>Dashboard</h1>
    <div class="dashboard-metrics">
        <div class="metric">
            <i class="fas fa-shopping-cart"></i>
            <h2>Total de Pedidos</h2>
            <p><%= totalOrders %></p>
        </div>
        <div class="metric">
            <i class="fas fa-calendar-day"></i>
            <h2>Pedidos del Día</h2>
            <p><%= ordersToday %></p>
        </div>
        <div class="metric">
            <i class="fas fa-store"></i>
            <h2>Comercios Activos</h2>
            <p><%= activeBusinesses %></p>
        </div>
        <div class="metric">
            <i class="fas fa-store-slash"></i>
            <h2>Comercios Inactivos</h2>
            <p><%= inactiveBusinesses %></p>
        </div>
        <div class="metric">
            <i class="fas fa-user-check"></i>
            <h2>Clientes Activos</h2>
            <p><%= activeClients %></p>
        </div>
        <div class="metric">
            <i class="fas fa-user-slash"></i>
            <h2>Clientes Inactivos</h2>
            <p><%= inactiveClients %></p>
        </div>
        <div class="metric">
            <i class="fas fa-truck"></i>
            <h2>Deliveries Activos</h2>
            <p><%= activeDeliveries %></p>
        </div>
        <div class="metric">
            <i class="fas fa-truck-loading"></i>
            <h2>Deliveries Inactivos</h2>
            <p><%= inactiveDeliveries %></p>
        </div>
        <div class="metric">
            <i class="fas fa-box"></i>
            <h2>Total de Productos</h2>
            <p><%= totalProducts %></p>
        </div>
    </div>
</body>
</html>